<script>

    import { Router, Link, Route } from 'svelte-navigator';
    import Landing from '../pages/Landing.svelte';
    import Register from '../pages/Register.svelte';
    import Login from '../pages/Login.svelte';
    import Home from '../pages/Home.svelte';
    import PasswordResetRequest from '../pages/PasswordResetRequest.svelte';
    import PasswordResetConfirm from '../pages/PasswordResetConfirm.svelte';
    import About from '../pages/About.svelte';


</script>

<Router>
    <div>
        <!--
        <Route path="/" component={Landing} />
        -->
        <Route path = "/"> <Landing /> </Route>
        <Route path = "register"> <Register /> </Route>
        <Route path = "login"> <Login /> </Route>
        <Route path = "home"> <Home /> </Route>
        <Route path = "password/reset"> <PasswordResetRequest /> </Route>
        <Route path = "password/reset/confirm"> <PasswordResetConfirm /> </Route>
        <Route path = "about"> <About /> </Route>
    </div>
</Router>