<script>
    
    import Header from '../components/Header.svelte';
    import Footer from '../components/Footer.svelte';


    let about = 'rochdi';
    
</script>

<Header />

<div class = "container">

    <h1> { about } </h1>

    <input placeholder = "hfyfhg" bind:value = { about }>

</div>

<style>

    .container {
        margin-top: 200px;
    }

</style>