<script>

    import {onMount} from 'svelte';
    import { Link } from "svelte-navigator";
    import Header from '../components/Header.svelte';
    import Footer from '../components/Footer.svelte';
    import Sidebar from '../components/Sidebar.svelte';

    import {authenticated} from "../stores/auth";

    /*let message = '';*/

    let ideas = [];

    onMount(async () => {

        /*
        const response = await fetch(`https://manzana-back.onrender.com/api/user/`, {
            headers: {'Content-Type': 'application/json'},
            credentials: 'include',
        });

        const content = await response.json();
        message = `Hi ${content.email}`;
        */

        const response = await fetch(`https://manzana-back.onrender.com/api/ideas/`)
        ideas = await response.json()
        /*console.log(ideas)*/

    });


</script>

<Header />


<div class = "container">

    <!--<h1> {message} </h1>-->

    <div class = "row">

        <div class="col-md-2">
            <Sidebar />
        </div>        
        <div class = "col-md-8">
            {#each ideas as idea }
                <article class="card mb-3">
                    <div class="card-body">
                        <div class = "row">
                            <div class = "col-md-10">
                                <h4 class="card-title">
                                    <Link class = "text-dark" to = {"#"}> { idea.name } </Link>
                                </h4>
                                <p class="card-text text-break"> { idea.description.slice(0, 250) } ... </p>
                                <span class="badge bg-secondary">
                                    <Link class = "text-light" to = {"#"}> tag1 </Link>
                                </span>
                                <span class="badge bg-secondary">
                                    <Link class = "text-light" to = {"#"}> tag2 </Link>
                                </span>
                                <div class = "d-inline float-end">
                                    <small> created by contributor </small>
                                </div>
                            </div> 
                            <div class = "col-md-2 text-muted text-end">
                                <small class = "mb-3"> date_created </small>
                                <small class = "mb-2"> 0 views </small>
                                <small> 0 tasks </small>
                            </div>
                        </div> 
                        <!--
                        <div class = "row mt-3">
                            <div class = "col-md-10">
                                <div class = "row">
                                    <div class = "col-md-6">
                                        <span class="badge bg-secondary">
                                            <Link class = "text-light" to = {"#"}> tag1 </Link>
                                        </span>
                                        <span class="badge bg-secondary">
                                            <Link class = "text-light" to = {"#"}> tag2 </Link>
                                        </span>                                    </div>
                                    <div class = "col-md-6 text-end">
                                        <small class = "mb-3"> created by contributor </small>
                                    </div>
                                </div>
                            </div> 
                            <div class = "col-md-2 mt-1 text-end">
                                <small class = "mb-3"> date_created </small>
                            </div>
                        </div> 
                        -->
                    </div>   
                </article> 
            {:else}
                <p class = "text-center"> Loading ... </p>
            {/each}           
        </div>

        <div class="col-md-2">
            <Sidebar />
        </div>         

    </div>

</div>




<style>

    .container {
        margin-top: 120px;
    }

    .col-md-2 small {
        display: block;
        font-size: 12px;
    }

    .card {
        padding: 10px;
    }

    .card-text {
        margin: 15px 0 15px 0;
    }

    p {
        font-size: 13px;
        text-align: justify;
        text-justify: inter-word;
    }


</style>