<script>

    import  { Link } from "svelte-navigator";
    import Header from '../components/Header.svelte';
    import Footer from '../components/Footer.svelte';
    
</script>

<Header />

<div class = "container">

    <div class = "text-dark text-center">
        <h1> Plan Your Prosocial AI Project </h1>
        <p>
            Create and contribute project ideas with intelligent<br/>
            plans to save the world
        </p>
        <Link to = "/register">
            <button class = "btn btn-outline-dark mt-2"> Join </button>
        </Link>
    </div>

</div>

<style>

    .container {
        margin-top: 250px;
    }

    button {
        height: 50px;
        width: 100px;
    }

</style>
