<script>

    import { Link, navigate } from "svelte-navigator";
    import Header from '../components/Header.svelte';
    import Footer from '../components/Footer.svelte';
    import { authenticated } from "../stores/auth";



    let email = '';
    let password = '';

    async function submit() {

        const res = await fetch(`https://manzana-back.onrender.com/api/login/`, {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            credentials: 'include',
            body: JSON.stringify({
                email,
                password
            })
        })

        const text = await res.text();

        if (res.ok) {
            console.log('success')
            authenticated.set(true)
            await navigate('/home')


        } else {
            throw new Error(text)
        }

    }
    
</script>

<Header />

<div class = "container">
    
    <div>
        <form on:submit|preventDefault = { submit }>

        <fieldset class = "form-group">
            <div class = "text-center">
                <h5> Welcome Back! </h5>
                <p>
                    Take your prosocial AI idea <br/> to the next level
                </p>
            </div>
        </fieldset>
            <div class = "mb-3 mt-3">
                <input type = "email" class = "form-control" placeholder = "Email" name = "email" bind:value = { email } >
            </div>
            <div class = "mb-3">
                <input type = "password" class = "form-control" placeholder = "Password" name = "pswd" bind:value = { password }>
            </div>
            <div class = "text-end mb-3">
                <small><Link to = "/password/reset" class = "text-dark"> Forgot password? </Link></small>
            </div>
            <button type = "submit" class = "btn btn-outline-dark w-100"> Submit </button>
            <div class = "text-center mt-3">
                <small>
                    <Link to = "/register" class = "text-dark"> Do not have an account? </Link>
                </small>
            </div>
        </form> 
    </div>

</div>

<style>

    .container {
        margin-top: 100px;
        width: 30%;
    }

    form {
        border:  1px solid #DFDFDF;
        padding: 40px;
        border-radius: 5px;
    }

    input {
        height: 50px;
    }

    form button {
        height:  50px;
    }

    small:hover {
        text-decoration: underline;
    }

</style>