<script>

    import Header from '../components/Header.svelte';
    import Footer from '../components/Footer.svelte';
    import { navigate } from 'svelte-navigator';

    let email = '';

    async function submit() {

        const res = await fetch(`https://manzana-back.onrender.com/api/password-reset-request/`, {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            credentials: 'include',
            body: JSON.stringify({
                email,
            })
        }) 

        const text = await res.text();

        if (res.ok) {
            await navigate('/password/reset/confirm')
        } else {
            throw new Error(text)
        }

    }
    
</script>

<Header />

<div class = "container">
    
    <div>
        <form on:submit|preventDefault={submit}>

        <fieldset class = "form-group">
            <div class = "text-center">
                <h5> Forgot Password? </h5>
                <p>
                    Reset password in two quick steps
                </p>
            </div>
        </fieldset>
            <div class = "mb-3 mt-3">
                <input type = "email" class = "form-control" placeholder = "Email" name = "email" bind:value = {email} >
            </div>
            <button type = "submit" class = "btn btn-outline-dark w-100"> Submit </button>
        </form> 
    </div>

</div>

<style>

    .container {
        margin-top: 100px;
        width: 30%;
    }

    form {
        border:  1px solid #DFDFDF;
        padding: 40px;
        border-radius: 5px;
    }

    input {
        height: 50px;
    }

    form button {
        height:  50px;
    }

</style>