<script>

    import Header from '../components/Header.svelte';
    import Footer from '../components/Footer.svelte';
    
</script>

<Header />

<div class = "container">

    <h4>
        An email has been sent with instructions on how to reset your password.
    </h4>

</div>

<style>

    .container {
        margin-top: 100px;
        width: 30%;
    }

</style>