<script>

    import { Link, navigate } from "svelte-navigator";
    import Header from '../components/Header.svelte';
    import Footer from '../components/Footer.svelte'; 



    let username = '';
    let email = '';
    let password = '';

    const submit = async () => {

        const res = await fetch(`https://manzana-back.onrender.com/api/register/`, {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({
                username,
                email,
                password
            })
        });

        const text = await res.text();

        if (res.ok) {
            console.log('success')
            await navigate('/login')

        } else {
            throw new Error(text)
        }
    }
    
</script>

<Header />

<div class = "container">

        <div>
            <form on:submit|preventDefault = { submit }>

            <fieldset class = "form-group">
                <div class = "text-center">
                    <h5> Join the Community </h5>
                    <p>
                        Take your prosocial AI idea <br/> to the next level
                    </p>
                </div>
            </fieldset>
                <div class = "mb-3 mt-3">
                    <input type = "text" class = "form-control" placeholder = "Username" name = "username" bind:value = { username }>
                </div>
                <div class = "mb-3">
                    <input type = "email" class = "form-control" placeholder = "Email" name = "email" bind:value = { email }>
                </div>
                <div class = "mb-3">
                    <input type = "password" class = "form-control" placeholder = "Password" name = "pswd" bind:value = { password }>
                </div>
                <button type = "submit" class = "btn btn-outline-dark w-100"> Submit </button>
                <div class = "text-center mt-3">
                    <small>
                        <Link to = "/login" class = "text-dark"> Already have an account? </Link>
                    </small>
                </div>
            </form> 
        </div>
        
</div>


<style>

    .container {
        margin-top: 100px;
        width: 30%;
    }

    form {
        border:  1px solid #DFDFDF;
        padding: 40px;
        border-radius: 5px;
    }

    input {
        height: 50px;
    }

    form button {
        height:  50px;
    }

    small:hover {
        text-decoration: underline;
    }

</style>