<script>

    import { Link } from "svelte-navigator";
    
</script>

<footer class = "bg-dark">

    <nav class = "navbar sticky-navbar navbar-expand-sm navbar-dark">
        <div class = "container">
            <Link class = "navbar-brand" to = "/"> Manzana </Link>
        </div>
    </nav> 

</footer>

<style>

</style>