<script>  

    import { Link, navigate } from "svelte-navigator";
    import {authenticated} from "../stores/auth";



    let auth = false;
    authenticated.subscribe(a => auth = a);

    const logout = async () => {

        await fetch(`https://manzana-back.onrender.com/api/logout/`, {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            credentials: 'include',
        })

        authenticated.set(false);
        await navigate('/login');
    }    

</script>

<header>

  <nav class = "navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
    <div class = "container">
      {#if auth}
        <Link to = "/home" class = "navbar-brand"> Knowt </Link>

        <button
        class = "navbar-toggler"
        type = "button"
        data-bs-toggle = "collapse"
        data-bs-target = "#navmenu"
        >
        <span class = "navbar-toggler-icon"></span>
        </button>

        <div class = "collapse navbar-collapse" id = "navmenu">
            <ul class = "navbar-nav ms-auto">
              <button class = "btn btn-outline-light" on:click = { logout }> Log out </button>
            </ul>
        </div>
      {:else}
        <Link to = "/" class = "navbar-brand"> Knowt </Link>

        <button
        class = "navbar-toggler"
        type = "button"
        data-bs-toggle = "collapse"
        data-bs-target = "#navmenu"
        >
        <span class = "navbar-toggler-icon"></span>
        </button>

        <div class = "collapse navbar-collapse" id = "navmenu">
            <ul class = "navbar-nav ms-auto">
              <li class = "nav-item me-3">
              <Link to = "/about" class = "nav-link"> About </Link>
              </li>
              <Link to = "/login"><button class = "btn btn-outline-light"> Log in </button></Link>
            </ul>
        </div>
      {/if}
    </div>
  </nav>

</header>

<style>

</style>
