<script>

    import { Link } from 'svelte-navigator';
    
</script>

<div class="content-section">
    <ul class="list-group">
        <Link class = "list-group-item list-group-item-light" to = {"#"}>
            <span><i class = "bi bi-lightbulb-fill"></i></span>
            <span> My ideas </span>
        </Link>
        <Link class = "list-group-item list-group-item-light" to = {"#"}>
            <span><i class = "bi bi-bookmark-fill"></i></span>
            <span> Saved ideas </span>
        </Link>
        <Link class = "list-group-item list-group-item-light" to = {"#"}>
            <span><i class = "bi bi-tag-fill"></i></span>
            <span> Tags </span>
        </Link>
        <Link class = "list-group-item list-group-item-light" to = {"#"}>
            <span><i class = "bi bi-people-fill"></i></span>
            <span> Contributors </span>
        </Link>
        <!--
        <li class="list-group-item list-group-item-light">
            <Link class = "link" to = {"#"}>
                <span><i class = "bi bi-lightbulb-fill"></i></span>
                <span> My ideas </span>
            </Link>
        </li>
        -->
    </ul>
</div>

<style>
    
</style>